.container {
    display: grid;
    grid-template-columns: 5% 45% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header-logo header-text-1 header header"
      "main main . sidebar"
      "footer footer footer footer";
      align-items: center;
      justify-items: center;
    max-height: inherit;
}
.logo {
    grid-area: header-logo;
    max-height: inherit;
}
.menu {
    grid-area: header-text-1;
    max-height: inherit;
}