/* Stylesheet für alle Seiten, welche die Deutschlandkarte verwenden. */

/* Erstellt das Grid für die Unterteilung der Karte und der Liste. */
#karten-grid {
    display: grid;
    grid-template-columns: 40%;
    grid-template-areas: 'karten-bereich listen-bereich';
}

/* Der Kartenbereich wird hier angepasst. */
#karten-container {
    grid-area: karten-bereich;
    display: grid;
    grid-template-areas: "map";
}

.karten-item {
    grid-area: map;
    width: 100%;
}

.bundesland-karte {
    z-index: 1;
    filter: grayscale(100);
}

/* Hier findet die anpassung der Liste mit den Werten statt. */
#bundesländer-liste {
    overflow-y: scroll;
    width: fit-content;

    /* Scrollbar für IE, Edge und Firefox verstecken. */
    -ms-overflow-style: none; /* IE und Edge */
    scrollbar-width: none; /* Firefox */
}

/* Scrollbar für Chrome, Safari und Opera verstecken. */
#bundesländer-liste::-webkit-scrollbar {
    display: none;
}
