* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #89CFF0;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .side, .main {
        width: 100%;
    }
}

body {
    font-family: Verdana;
    overflow: auto;
    margin: 0;
    background-color: #ff0000;
}

header {
    text-align: center;
    background-color: #fffb00;
    height: 10%;
    padding: 1% 0 1% 0;
    font-size: x-large;
}

.side {
    float: left;
    width: 15%;
    text-align: center;
    background-color: #1eff00;
}

.side a {
    display: block;
    width: 100%;
    color: black;
}

.main {
    background-color: #c8ffff;
    float: left;
    width: 85%;
}

footer {
    text-align: center;
    background-color: #0400ff;
}

.fadeGradientTop {
    background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, #89CFF0 90%);
}