html {
    background-color: #c8ffff;
    /* scroll-padding-top: 15%; */
    margin: 0;
}

body {
    margin: 0;
}

.banner {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #89CFF0;
    z-index: 999;
}

.container {
    display: grid;
    grid-template-columns: 15% 45% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "header-logo header-text-1 header header";
    align-items: center;
    justify-items: left;
}

.logo {
    grid-area: header-logo;
}

.menu {
    grid-area: header-text-1;
    font-size: 3.3vh;
}

.fadeGradientTop {
    position: fixed;
    z-index: 999;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, #89CFF0 90%);
    top: 10%;
    right: 0;
    bottom: 0;
    left: 15%;
    height: 5vh;
}

.side {
    position: fixed;
    z-index: 999;
    background-color: #89CFF0;
    top: 10%;
    width: 15%;
    height: 100%;
    font-size: 2.5vh;
}

.main {
    padding: 5% 0 0 15%;
}

.fadeGradientBottom {
    z-index: 999;
    background-image: linear-gradient(to top, #89CFF0 40%, rgba(255,255,255,0) 90%);
    height: 5vh;
}

.footer {
    position: absolute;
    z-index: 1000;
    background-color: #89CFF0;
    width: 100%;
    height: 5%;
}html {
    background-color: #c8ffff;
    /* scroll-padding-top: 15%; */
    margin: 0;
}

body {
    margin: 0;
}

.banner {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #89CFF0;
    z-index: 999;
}

.container {
    display: grid;
    grid-template-columns: 15% 45% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "header-logo header-text-1 header header";
    align-items: center;
    justify-items: left;
}

.logo {
    grid-area: header-logo;
}

.menu {
    grid-area: header-text-1;
    font-size: 3.3vh;
}

.fadeGradientTop {
    position: fixed;
    z-index: 999;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 40%, #89CFF0 90%);
    top: 10%;
    right: 0;
    bottom: 0;
    left: 15%;
    height: 5vh;
}

.side {
    position: fixed;
    z-index: 999;
    background-color: #89CFF0;
    top: 10%;
    width: 15%;
    height: 100%;
    font-size: 2.5vh;
}

.main {
    padding: 5% 0 0 15%;
}

.fadeGradientBottom {
    z-index: 999;
    background-image: linear-gradient(to top, #89CFF0 40%, rgba(255,255,255,0) 90%);
    height: 5vh;
}

.footer {
    position: absolute;
    z-index: 1000;
    background-color: #89CFF0;
    width: 100%;
    height: 5%;
}